<div class="feedback-section">
  <div class="container">
    <h2 class="feedback-section__title text-center">Последние отзывы на компанию из рейтинга:</h2>
    <div class="d-lg-flex align-items-lg-start gap-lg-3 mt-4 px-3">
      <div class="feedback flex-grow-1 mb-3 mb-lg-0">
        <h3 class="feedback__title">Отзыв о компании:</h3>
        <div class="px-2 mt-3">
          <div class="d-flex gap-3 align-items-center">
            <div class="feedback__avatar">
              <img src="img/avatar.png" alt="" />
            </div>
            <div>
              <p class="feedback__name mb-0">СМ-Ремонт</p>
              <img src="img/rating.png" alt="" />
            </div>
          </div>
          <h4 class="feedback__title feedback__title--has-badge mt-3">Отзыв о ремонте:</h4>
          <p class="feedback__text">
            Очень удобная и простая в использовании настройка параметров. Потратил 5 минут и уже знаю приблизительную
            стоимость и нужные мне компании. Пока что не проверял на практике, но думаю, что обращусь именно туда, по
            цене и срокам подходит.
          </p>
          <h5 class="feedback__subtitle"><span class="plus">+</span>Достоинства</h5>
          <p class="feedback__subtext">
            Lorem ipsum quote saga te la vi. Isnt a good vibe but a nice check! Lorem ipsum quote saga te la vi.
          </p>
          <h5 class="feedback__subtitle"><span class="minus">-</span>Недостатки:</h5>
          <p class="feedback__subtext">
            Lorem ipsum quote saga te la vi. Isnt a good vibe but a nice check! Lorem ipsum quote saga te la vi.
          </p>
        </div>
      </div>
      <div class="feedback flex-grow-1">
        <h3 class="feedback__title">Отзыв о компании:</h3>
        <div class="px-2 mt-3">
          <div class="d-flex gap-3 align-items-center">
            <div class="feedback__avatar">
              <img src="img/avatar.png" alt="" />
            </div>
            <div>
              <p class="feedback__name mb-0">СМ-Ремонт</p>
              <img src="img/rating.png" alt="" />
            </div>
          </div>
          <h4 class="feedback__title feedback__title--has-badge mt-3">Отзыв о ремонте:</h4>
          <p class="feedback__text">
            Очень удобная и простая в использовании настройка параметров. Потратил 5 минут и уже знаю приблизительную
            стоимость и нужные мне компании.
          </p>
          <h5 class="feedback__subtitle"><span class="plus">+</span>Достоинства</h5>
          <p class="feedback__subtext">
            Lorem ipsum quote saga te la vi. Isnt a good vibe but a nice check! Lorem ipsum quote saga te la vi.
          </p>
          <h5 class="feedback__subtitle"><span class="minus">-</span>Недостатки:</h5>
          <p class="feedback__subtext">
            Lorem ipsum quote saga te la vi. Isnt a good vibe but a nice check! Lorem ipsum quote saga te la vi.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
