.footer {
  background-color: $footer-bg;
}

.footer__top {
  position: relative;

  &::before {
    content: '';

    position: absolute;
    right: 1rem;
    bottom: 0;
    left: 1rem;
    height: 1px;

    background-color: #bbb;
  }
}

.copyright {
  color: $grey;
  font-family: 'Circe', sans-serif;
  font-size: rem(14);
}

.circle-divider {
  width: rem(4);
  height: rem(4);

  border-radius: 50%;

  background-color: $grey;
}
