<footer class="footer">
  <div class="container">
    <div class="top d-md-flex justify-content-between px-3 pt-4 pb-2">
      <div class="col-12 col-md-6 col-lg-3">
        <a class="link link--primary mb-3" href="">Рейтинг ремонтных компаний</a>
        <a class="link link--secondary mb-3" href="">Рейтинг со всеми ремонтными компаниями Москвы</a>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <a class="link link--primary mb-3" href="">Рейтинг ремонтных компаний</a>
        <a class="link link--secondary mb-3" href="">Рейтинг со всеми ремонтными компаниями Москвы</a>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <a class="link link--primary mb-3" href="">Рейтинг ремонтных компаний</a>
        <a class="link link--secondary mb-3" href="">Рейтинг со всеми ремонтными компаниями Москвы</a>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <a class="link link--primary mb-3" href="">Рейтинг ремонтных компаний</a>
        <a class="link link--secondary mb-3" href="">Рейтинг со всеми ремонтными компаниями Москвы</a>
      </div>
    </div>
    <div class="d-md-flex py-4 px-3">
      <div class="copyright me-5">© 2022 Rerate. Все права защищены.</div>
      <div class="d-flex align-items-center">
        <a class="link link--secondary link--custom" href="">Конфиденциальность</a>
        <span class="circle-divider mx-2"></span>
        <a class="link link--secondary link--custom" href="">Условия использования</a>
      </div>
    </div>
  </div>
</footer>
