<div class="slider container mt-5 swiper js-slider">
  <div class="swiper-wrapper">
    <div class="slider__item ratio ratio-1x1 overflow-hidden swiper-slide">
      <img class="slider__img" src="img/slider-img.jpg" alt="" />
    </div>
    <div class="slider__item ratio ratio-1x1 overflow-hidden swiper-slide">
      <img class="slider__img" src="img/slider-img.jpg" alt="" />
    </div>
    <div class="slider__item ratio ratio-1x1 overflow-hidden swiper-slide">
      <img class="slider__img" src="img/slider-img.jpg" alt="" />
    </div>
    <div class="slider__item ratio ratio-1x1 overflow-hidden swiper-slide">
      <img class="slider__img" src="img/slider-img.jpg" alt="" />
    </div>
    <div class="slider__item ratio ratio-1x1 overflow-hidden swiper-slide">
      <img class="slider__img" src="img/slider-img.jpg" alt="" />
    </div>
    <div class="slider__item ratio ratio-1x1 overflow-hidden swiper-slide">
      <img class="slider__img" src="img/slider-img.jpg" alt="" />
    </div>
  </div>
  <button class="slider__arrow slider__arrow--left js-slider-left" type="button">
    <svg>
      <use xlink:href="./styles/icons/sprite.svg#arrow-left"></use>
    </svg>
  </button>
  <button class="slider__arrow slider__arrow--right js-slider-right" type="button">
    <svg>
      <use xlink:href="./styles/icons/sprite.svg#arrow-right"></use>
    </svg>
  </button>
</div>
